body {
  margin: 0;
  padding: 0;
  background-image: url('./bg_holder.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

