body {
  margin: 0;
  padding: 0;
  background-image: url('./bg_holder.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
  height: 100vh;
  background: none;
  text-align: center;
}

.page-not-found-pad{
  padding: 150px
}

